/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

def date = new Date().format("yyyy-MM-dd")

if(!params.annotation_genome) {
    params.annotation_genome = params.genome
}

process {

    withName: GAWK {
        ext.suffix = "sizes"
        ext.args2  = '\'{print $1"\t"$2}\''
    }

    withName: GENMAP_MAP {
        ext.args   = '--wig --length 50 -E 2'
        ext.prefix = {"${meta.id}_map"}
    }

    withName: CREATE_ANNOTATIONS {
        publishDir  = [
            overwrite: true,
            enabled: true,
            mode: params.publish_dir_mode,
            path: "${params.outdir}/annotations-${date}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: MULTIQC {
        publishDir  = [
            overwrite: true,
            enabled: true,
            mode: params.publish_dir_mode,
            path: "${params.outdir}/multiqc_reports",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
