/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests with nf-test
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run CenterForMedicalGeneticsGhent/nf-cmgg-qdnaseq -profile nf_test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    input      = "${params.baseDir}/tests/inputs/samplesheet.csv"
    outdir     = "${params.outputDir}"

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input = "${projectDir}/assets/samplesheet.csv"
    fasta = params.test_data["homo_sapiens"]["genome"]["genome_fasta"]
    fai   = params.test_data["homo_sapiens"]["genome"]["genome_fasta_fai"]
    genomes_ignore = true

    // Genome references
    genome    = 'hg38'
    bin_sizes = "10,5"
    species   = "Hsapiens"
}
